# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


# Chainlink folder
lib/chainlink-brownie-contracts/

# Devops folder
lib/foundry-devops/

#Open Zeppelin Contracts Folder
lib/openzeppelin-contracts/

#env file keeps showing up in git changes
/Foundry-ERC20s/.env